RABBITMQ_PROTOCOL=amqps
RABBITMQ_HOST=x-amqp.gestionpratique.ovh
RABBITMQ_PORT=5671
RABBITMQ_USER=rabbitmq_user
RABBITMQ_PASSWORD=changeme
RABBITMQ_VHOST=/
RABBITMQ_HEARTBEAT=30
RABBITMQ_NAMESPACE=queue-name-slugify
RABBITMQ_UNKNOWN_TYPE_RETRY_DELAY_MS=3000

BUS_DEBUG=true
