RABBITMQ_PROTOCOL=amqps
RABBITMQ_HOST=x-amqp.gestionpratique.ovh
RABBITMQ_PORT=5671
RABBITMQ_USER=gp1_test.witness_2
RABBITMQ_PASSWORD=XXXX
RABBITMQ_VHOST=/
RABBITMQ_HEARTBEAT=30
# Topology is derived from namespace:
# - queue: <namespace>.queue
# - binding key: <namespace>.#
# - topic exchange: <namespace>.topic
# - fanout exchange: <namespace>.fanout
RABBITMQ_NAMESPACE=gp1-test.witness-2
RABBITMQ_UNKNOWN_TYPE_RETRY_DELAY_MS=3000
